<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t: %m%n" />
		</layout>
	</appender>

<!-- 	<appender name="FILE" class="org.apache.log4j.FileAppender"> -->
<!-- 		<param name="file" value="${log}/log.out" /> -->
<!-- 		<param name="immediateFlush" value="true" /> -->
<!-- 		<param name="threshold" value="debug" /> -->
<!-- 		<param name="append" value="false" /> -->

<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="conversionPattern" value="%m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

<!-- 	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender"> -->
<!-- 		<file value="log.txt" /> -->
<!-- 		<appendToFile value="true" /> -->
<!-- 		<rollingStyle value="Size" /> -->
<!-- 		<maxSizeRollBackups value="10" /> -->
<!-- 		<maximumFileSize value="100KB" /> -->
<!-- 		<staticLogFileName value="true" /> -->
<!-- 		<layout type="log4net.Layout.PatternLayout"> -->
<!-- 			<conversionPattern -->
<!-- 				value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->
	  <appender name="R" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="log/console.log"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="maximumFileSize" value="1M"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d %p %t %c - %m%n"/> 
    </layout> 
  </appender>

	<!-- Application Loggers -->
	<logger name="com.sslv.services">
		<level value="INFO" />
		<appender-ref ref="R" />
	</logger>
	<logger name="com.sslv.services.SSLVServices">
		<level value="DEBUG" />
		<appender-ref ref="R" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
